#header {
    position: relative;
}
#header img {
    position: absolute;
    top: 0px;
    right: 12px;
}
#title {
	margin-left: 12px;
	margin-top: 12px;
}
#period {
	color: #008AC5;
}
#period label{
	margin-left: 12px;
}
.ui-datepicker-header {  
    background: #FDD91C;  
    color: #008AC5;  
    border-color: #96CDEA;  
}
#tblCaption {
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
}
hr {
    clear: both;
}
.dtf {
	float: left;
	margin-left: 10px;
}
.dtl {
	float: left;
	margin-left: 10px;
}
.dtB {
	float: right;
	margin-right: 10px;
}
.dti {
	float: left;
	margin-left: 10px;
}
.dtp {
	float: right;
	margin-right: 10px;
}
/*
.tbl_wrapper{
	height: 100%;
}
.dt {
	overflow-x: auto;
	height:80%;
	width: 100%;
}*/
div.dataTables_wrapper {
	width: 800px;
	margin: 0 auto;
}
