body {
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
}
#title {
    margin-left: 8px;
}
#header {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}
#period {
    margin-bottom: 30px;
    margin-left: 8px;
}
#period label {
    float: left;
    padding-top: 7px;
    margin-right: 0.5em;
}
#period-datepicker {
    width: 1px;
    float: left;
}
#go {
    margin-bottom: 2px;
    margin-left: 10px;
}
#DataTables_Table_0_wrapper {
    margin-top: 10px;
}
.dataTables_scroll {
    margin-top: 20px;
}
.form-control {
    display: inline-block !important;
    width: auto !important;
    padding-left: 2px !important;
    padding-right: 2px !important;
}
#dt_length {
    margin-left: 8px;
}
.dt-buttons {
    margin-left: 8px;
}
label {
     font-weight:normal;
}
.dt-footer {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.dataTables_filter {
    float: right;
}